<?xml version='1.0' encoding='utf-8'?>
<widget id="com.karar.app" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Quiz Master 2020++</name>
    <android-versionCode>1..0.5</android-versionCode>
    <description>
      Speaking Quiz Master 2020++. A unique app in which you can compete with others online. This app will also include
      voice and speech functions later on. People would be able to create a quiz through speaking.
    </description>
    <author email="karar@haktechlondon.co.uk" href="http://cordova.io">
        Karar Haider
    </author>

    <content src="index.html" />
    <icon src="www/img/logo.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="www/certificates/certificate.cer" target="app/src/main/assets/certificate.cer" />
        <resource-file src="www/certificates/karar_chain.cer" target="app/src/main/assets/karar_chain.cer" />
        <resource-file src="www/certificates/bangash_sub.cer" target="app/src/main/assets/bangash_sub.cer" />
        <resource-file src="www/certificates/myKeystore.crt" target="app/src/main/assets/myKeystore.crt" />
        <resource-file src="www/certificates/myKeystore.p12" target="app/src/main/assets/myKeystore.p12" />
    </platform>


    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-media-capture" spec="~3.0.3" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-audio-recorder" spec="~1.1.0" />
    <plugin name="cordova-plugin-media" spec="~5.0.3" />
    <plugin name="cordova-plugin-device" spec="~2.0.3" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.2" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.7.1" />
</widget>
